<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>ESP Wetterstation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/BME680_ESP8266.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.15.3/humanize-duration.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="js/BME680_ESP8266.js"></script>
    </head>
    <body>
    <div id="app">
        <div class="w3-bar w3-teal">
           <div class="w3-bar-item">ESP Wetterstation</div>
           <div class="w3-bar-item w3-right">{{ properties.ipaddr }}</div>
           <div class="w3-bar-item w3-right">{{ properties.hostname }}</div>
        </div>
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openTab('env')">BME680</button>
            <button class="w3-bar-item w3-button" onclick="openTab('history')">Verlauf</button>
            <button class="w3-bar-item w3-button" onclick="openTab('status')">Status</button>
            <button class="w3-bar-item w3-button" onclick="openTab('config')">Config</button>
        </div>

        <div id="env" class="tab w3-container">
            <div class="title-bar">
                <h2>Sensoren</h2>
                <span name="env-loader" class="loader" onclick="getEnv()"></span>
            </div>
            <table class="w3-table w3-striped w3-border">
                <tr class="w3-teal">
                    <th>Variable</th>
                    <th>Wert</th>
                </tr>
                <tr>
                    <td>Temperatur</td>
                    <td>{{ env.temp }} &deg;C</td>
                </tr>
                <tr>
                    <td>Luftdruck</td>
                    <td>{{ env.pressure }} mbar</td>
                </tr>
                <tr>
                    <td>Luftfeuchtigkeit</td>
                    <td>{{ env.humidity }} %</td>
                </tr>
                <tr>
                    <td>Luftqualität</td>
                    <td>{{ env.gas }}</td>
                </tr>
                <tr>
                    <td>Messzeit</td>
                    <td>{{ env.time.toLocaleString() }}</td>
            </table>
        </div>

        <div id="history" class="tab w3-container">
            <div class="title-bar">
                <h2>Verlauf</h2>
                <span name="history-loader" class="loader" onclick="getHistory()"></span>
                <span class="w3-button title-button" v-show="!showTable" v-on:click="showTable=true">Tabelle</span>
                <span class="w3-button title-button" v-show="showTable" v-on:click="showTable=false">Grafik</span>
            </div>
            <div id="table-container" v-show="showTable">
                <table class="w3-table w3-striped w3-border w3-centered w3-tiny">
                    <tr class="w3-teal">
                        <th>Zeit</th>
                        <th>Temperatur</th>
                        <th>Druck</th>
                        <th>Feuchte</th>
                        <th>Luftqualität</th>
                    </tr>
                    <tr v-for="entry in history">
                        <td>{{ entry.time.toLocaleString() }}</td>
                        <td>{{ entry.temp }}</td>
                        <td>{{ entry.pressure }}</td>
                        <td>{{ entry.humidity }}</td>
                        <td>{{ entry.gas }}</td>
                    </tr>
                </table>
            </div>
            <div id="chart-container" v-show="!showTable" style="height:400px">
                <canvas id="chart"></canvas>
            </div>
        </div>

        <div id="status" class="tab w3-container">
            <div class="title-bar">
                <h2>Status</h2>
                <span name="status-loader" class="loader" onclick="getStatus()"></span>
            </div>
            <table class="w3-table w3-striped w3-border">
                <tr class="w3-teal">
                    <th>Variable</th>
                    <th>Wert</th>
                </tr>
                <tr v-for="prop in properties">
                    <td>{{ prop.name }}</td>
                    <td>{{ prop.displayValue ? prop.displayValue : prop.value }}</td>
                </tr>
            </table>
        </div>

        <div id="config" class="tab w3-container">
            <div class="title-bar">
                <h2>Konfiguration</h2>
                <span name="config-loader" class="loader" onclick="getConfig()"></span>
            </div>
            <div class="w3-row">
                <label>Aufzeichnungsintervall</label>
                <select class="w3-select w3-border" v-bind:class="{ 'w3-pale-red': historyIntervalChanged }" v-model="localConfig.historyInterval">
                    <option v-if="!serverConfig.standard" disabled :value="serverConfig.historyInterval">
                        Unverändert ({{serverConfig.historyInterval}} s)
                    </option>
                    <option v-for="option in historyIntervalOptions" v-bind:value="option.value">{{option.name}}</option>
                </select>
            </div>
            <div class="w3-row">
                <input type="checkbox" id="checkReset" class="w3-check"
                       v-model="localConfig.sleepOnReset">
                <label for="checkReset" v-bind:class="{'w3-pale-red':sleepOnResetChanged}">Reset-Taste schaltet ein/aus</label>
            </div>
            <div class="w3-bar w3-padding-16">
                <input class="w3-button w3-right w3-teal w3-round-large" type="submit"
                       value="Speichern" v-show="configChanged" onclick="getConfig(true)" />
            </div>
        </div>
    </div>
    <script type="text/javascript">init();</script>
    </body>
</html>
