@media only screen and (min-width: 900px) {
    body { width: 900px; margin: auto }
}
.loader {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url("../img/reload.svg");
    background-color: teal;
}
.loader:hover {
    background-color: grey !important;
}
.loader-loading {
    background-image: url("../img/reload-spin.svg") !important;
}
.loader-error {
    background-color: red !important;
}
.tab-bar {
    padding: 8px 8px 0px 8px;
}
.tab-bar button {
    border-radius: 8px 8px 0px 0px;
    background-color: gray;
    margin-right: 2px;
}
.tab-bar button.active {
    background-color: white;
    color: black;
}
.title-bar h2 {
    float: left;
}
.title-bar span {
    border-radius: 8px;
    background-color: teal;
    color: white;
    height: 40px;
    margin: 10px 0px 10px 8px;
    float: right !important;
}

